<div id="landing_page_bg">
	<div id="demo_hand"></div>
	<div id="landing_page">

		
		<header id="header">
			<!--<img alt="Square" class="logo" src="https://d1g145x70srn7h.cloudfront.net/static/229d9eccc2e02bff608fa2698fbb8bea1a6e6208/images/public/logotype-dark.png">-->
			<div class="logo"><p>wishlist</p></div>
		</header>
			
		<div class="container">
	    	<div id="signup_form_container">
	    		<div id="signup_form_body">
	    			<div id="welcome_wagon" class="fontface">
	    				<h1>Start scanning products today.</h1>
	    				<p>Sign up for Wishlist and start pushing Products from your iPhone to the desktop.</p>
					</div>
	    			{{view form}}
	    			<div id="app_details">
	    				
	    			</div>
	    		</div>
	    	</div>
		</div> <!--! end of #container -->
	</div>
</div>
